.card-stack {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
}

.card-cover {
  background-color:rgb(2, 50, 101);
  color: white; 
  border: 2px solid black; 
  margin: 40px; 
  padding: 20px; 
  align-items: center; 
  height: 500px; 
  width: 300px; 
}

.pics {
  height: 180px; 
  width: 250px; 
  margin: 20px; 
}

body {
  background-color: rgb(224, 78, 78); 
}

.time {
  font-size: 16px; 
  color: rgb(2, 50, 101)
}

h1 {
  text-align: center;
  color: blue; 
}

h2 {
  text-align: center; 
  text-decoration-line: underline;
  color: rgb(133, 212, 133);
}